$clr_primary: #2f80ed;
$clr_secondary: #5d41c2;
$clr_three: #011224;
$clr_four: #f385df;
$clr_five: #2f80ed14;
$clr_text: #070337;
$clr_line: #e2e2e2;
$clr_statisticsOne: #fe1a86;
$clr_statisticsTwo: #0242fd;
$clr_statisticsThree: #f5a706;
